# Block access to "hidden" directories whose names begin with a period. This
# includes directories used by version control systems such as Subversion or Git.
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule "(^|/)\." - [F]  
  RewriteRule ^(index.html)?$ https://demos.mozilla.org/ [r=302,nc]
</IfModule>
