.key-button{
  width:30px;
  height:20px;
  font-size:10px;
  font-family:Monospace, Ludida, Lucida-Console, Console, Consolas
};

.key-button:hover, 
.key-button:focus{
  background:#0af!important;
  color:#fff;
}

#audio-controls {
  position: absolute;
  display: none;
  top: 10px;
  left: 10px;
  z-index: 5;
  cursor: pointer;
}

.audio-controls-buttons {
  position: absolute;
  top: 0px;
  left: 0px;
}

#audio-controls-pause {
  visibility: hidden;
}

#audio-controls-play {
  visibility: visible;
}

#globalLeakReport{
  padding:10px;
  position:absolute;
  z-index:100000;
  top:10;
  border:3px solid #F00;
  background:#FFF;
  color: #F00;
  padding:10px;
  border-radius:12px;
  right:10px;
  opacity: 0.9;
  height:80%;
  overflow-y:scroll;
}

#globalLeakReport h2{
  background: #F00;
  color: #FFF;
  padding: 3px 7px;
}

#globalLeakReport li{
  margin-left:20px;
}

/*
#time-slider{border:5px solid red;padding:10px;}
*/


#recordActions{
  background:#00000;
  width:200px;
  height:100%;
  opacity:.8;
  position:absolute;
  top:0;
  right:0;  
  border:1px solid #fff;
  font-size:12px;
  line-height:12px;
  font-family:Monospace;
  padding:5px;
  overflow-y:scroll;
  overflow-x:hidden;
}

#recordActions a{
  color:#fff;
  display:block;
  text-decoration:none;
}

#recordActions a:hover,
#recordActions a:focus{
  background:#fff;
  color:#000;
}

#framesElem{
  color:#fff;
  border:1px solid #fff;
  margin:5px 0 0 0;
  padding:5px;
}

/* Scene-Edit */


body{
  background-color: #000;
  padding:0px;
  margin:0px;
  color:#fff;
  font-size:12px;
  font-family:Monospace, Ludida, Lucida-Console, Console, Consolas;
  overflow:hidden;
}

#cubicvr-canvas{
  float:left;
  position:absolute;
  top:5px;
  left:5px;
  background:#000;
}

audio{
  position:absolute;
  left:339px;
  top:440px;
}


#scene-edit{
  background:#222;
  border: 1px solid #fff;
  border-radius:6px;
  position:absolute;
  left:650px;
  padding:10px;
  width:720px;
  display:none;
}


#time-slider-container{
  position:absolute;
  bottom:10px;
  left:5px;
  right:5px;
  background:#444;
  border: 1px solid #fff;
  border-radius:12px;
  padding:9px 12px;
  width:98%;
  display:none;
}


#bitWallSpriteList table th{
  border:1px solid #aaa;
  background:#666;
  font-weight:normal;
}

#bitWallSpriteList table td{
  background:#222;
  border:1px solid #888;
}

#bitWallSpriteList table td,
#bitWallSpriteList table th{
  border-radius:3px;
  padding:5px;
}


.rounded-box{
  background:#444;
  border: 1px solid #fff;
  border-radius:6px;
  padding:2px 5px;
  margin:0 10px 10px 0;
}

.rounded-input{
  width:30px;
  background:#000;
  border: 1px solid #888;
  border-radius:6px;
  padding:2px 5px;
  margin-right:1px;
  color:#fff;
  font-size:10px;
  font-family:Monospace, Ludida, Lucida-Console, Console, Consolas
}

.rounded-input:hover,
.rounded-input:focus{
  background:#0af;
  color:0;
  border:1px solid #fff;
  font-weight:bold;
}

.dropdown{width:auto;}

#currentTime{
  width:227px;
  overflow:hidden;
  padding:3px 2px 3px 6px;
}

.i200{
  width:auto; 
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#intro-sleep {
  border: 0;
  position: absolute;
  left: 0;
  display: none;
  z-index: 5;
}

#cubicvr-canvas {
  border: 0;
  position: absolute;
  left: 0;
  z-index: 0;
}

#no-comply {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
}

.fade-out {
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  -o-transition-property: opacity;
  -o-transition-duration: 1s;
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0.0;
}

.fade-in {
  -moz-transition-property: opacity;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: linear;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  -o-transition-property: opacity;
  -o-transition-duration: 1s;
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 1.0;
}



#subway-gui{color: #fff; font-size: 18pt; position: absolute; left: 0px; top: 30px; z-index: 20; display: none;}
#subway-gui-arrow{position: absolute; z-index: 21;}
#subway-gui-red-left{position: absolute; z-index: 22;}
#subway-gui-red-up{position: absolute; z-index: 22;}
#subway-gui-red-right{position: absolute; z-index: 22;}
#subway-gui-green-left{position: absolute; z-index: 23;}
#subway-gui-green-up{position: absolute; z-index: 23;}
#subway-gui-green-right{position: absolute; z-index: 23;}


div.creditRoll { position:absolute; top:0px; left:0px; text-align:center; font-size:20px; font-weight:normal; color:white; width:100%; overflow:hidden; }
.creditRoll a { color:lightblue; text-decoration:none; }
.creditRoll div.spacer1 { margin-top:24%; margin-bottom:0px; margin-left:0px; margin-right:0px; padding:0px; width:100%; }
.creditRoll div.spacer2 { margin-top:10%; margin-bottom:0px; margin-left:0px; margin-right:0px; padding:0px; width:100%; }
.creditRoll div.spacer3 { margin-top:8%; margin-bottom:0px; margin-left:0px; margin-right:0px; padding:0px; width:100%; }
.creditRoll span.subtext { font-size:18px; font-weight:normal; font-style: italic; color:lightgrey; }
.creditRoll span.titletext { font-size:24px; font-weight:bold; }
