
* {margin: 0; padding: 0; font-weight: normal;}
html, body { width: 400px; margin: auto; background-color: #000; color: white;}
#menu { width: 400px; overflow: hidden;}
#menu > section > article > a, #menu > section > article > p { display: none; }

#menu > section {
    position: relative;
}

#menu > section > h1:after {
    content: attr(childrencount);
    position: absolute;
    top: 2px; right: 2px;
    opacity: 0.2;
    font-size: 64px;
    -moz-transition-duration: 1s;
}

#menu > section {
    background-image: url(border-bottom.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-color: #000;
}

#menu > section {
}

#menu > section > article {
    max-height: 0px;
    overflow: hidden;
    -moz-transition-duration: 0.7s;
}

.demoinside > h1 {
    position: relative;
}
.demoinside > h1:after {
    content: "demo";
    position: absolute;
    opacity: 0.4;
    right: 60px;
    top: 0px;
}

/* Open */

#menu > .open > h1:after { opacity: 0; }
#menu > .open > article { max-height: 70px; } 

/* H1 */

#menu > section > svg { fill: white; width: 26px; height: 26px; position: absolute; top: -moz-calc((70px - 26px) / 2); left: -moz-calc((70px - 26px) / 2); }
#menu > section > h1 { display: inline-block; font-size: 20px; width: 100%; line-height: 70px; text-indent: 70px; position: relative;}
#menu > section > article > h1 { line-height: 69px; text-indent: 70px; font-size: 20px; border-top: 1px dashed #aaa; }
#menu > section > article > h1:before { content: "- "; }

/* Header */

header {
    background: url(HTML5_Logo.svg), #2A2A2A;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: 8px 20px;

    position: relative;
    color: white;
    height: 90px;
    border-bottom: 5px solid #A5151E;
    width: 325px;
    padding-left: 75px;
    padding-top: 25px;
}

header > * {
    font-weight: bold;
}

header p {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 21px;
}
/* Lights */


/*#menu > section:after,*/
#menu > section:before {
    content: "";
    display: block;
    width: 4px; height: -moz-calc(100% - 20px);
    position: absolute;
    left: -4px;
    top: 10px;
    border-radius: 3px;
    pointer-events: none;
    -moz-transition-duration: 1s;
}

/*
#menu > section:after {
    opacity: 0.3;
    -moz-transition-duration: 0s;
}
#menu > .fireme:after {
    -moz-transition-duration: 1s;
    visibility: visible;
    width: 100%;
    left: 400px;
    opacity: 0;
}
*/

/*#semantics:after,*/
#semantics:before {
    background-color: #FF00CC;
    box-shadow: 0 0 3px 5px #FF00CC;
}
/*#offline:after,*/
#offline:before {
    background-color: #6CDFEA;
    box-shadow: 0 0 3px 5px #6CDFEA;
}
/*#deviceaccess:after,*/
#deviceaccess:before {
    background-color: #7FFF24;
    box-shadow: 0 0 3px 5px #7FFF24;
}
/*#connectivity:after,*/
#connectivity:before {
    background-color: #FF6600;
    box-shadow: 0 0 3px 5px #FF6600;
}
/*#multimedia:after,*/
#multimedia:before {
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 5px #FFFFFF;
}
/*#graphics:after,*/
#graphics:before {
    background-color: #1693A5;
    box-shadow: 0 0 3px 5px #1693A5;
}
/*#performance:after,*/
#performance:before {
    background-color: #790F5B;
    box-shadow: 0 0 3px 5px #790F5B;
}
/*#css3:after,*/
#css3:before {
    background-color: #FF3333;
    box-shadow: 0 0 3px 5px #FF3333;
}
/*#stars:after,*/
#stars:before {
    background-color: yellow;
    box-shadow: 0 0 3px 5px yellow;
}


/* Popup */

.showpopup { overflow: hidden; }
.showpopup #popup { display: block; }
#popup { display: none; position: fixed; top: 0px; width: 100%; left: 0px; height: 100%; background-color: rgba(0, 0, 0, 0.8); }
#content { width: 320px; height: 475px; margin: auto; margin-top: 40px; border: 3px solid #ccc; border-radius: 10px; background-color: #222; box-shadow: 0px 0px 10px black inset; position: relative; padding: 20px; color: white; }
#close { position: absolute; right: -20px; top: -20px; border: none; background: none; }
#close img { width: 40px; height: 40px; }
#content h1 { font-size: 28px; margin-top: 20px; margin-bottom: 20px; padding-left: 20px; margin-left: 20px;}
#content p { font-size: 18px; }
#demo {position: absolute; width: 350px; height: 200px; overflow: hidden; bottom: 10px; left: 0; border: none;}
.webgl #demo { height: 300px; }

@media all and (orientation: landscape) {
    #content {
        width: 400px;
        height: 300px;
        margin: 0; margin-top: 0;
        position: fixed;
        top: 0; left: 0;
        border: none;
        border-radius: 0;
        background-color: #000;
        box-shadow: none;
        padding: 0;
        color: white;
    }
    #close, #content > p, #content > h1 {
        display: none;
    }
    #demo {
        top: 0;
        margin-top: 25px;
        margin-left: 25px;
    }
}

/* Star */

#content h1, #menu > section > article > h1 { position: relative; }
#content h1:after, #menu > section > article > h1:before {
    content: "★";
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: -3px;
    color: #444;
}
#content h1:after { left: -30px; top: -13px; }
#content .star:after,
#menu .star:before { color: #B1A600;}
