/***** @font-face *****/
@font-face { font-family: bebas; src: url(fonts/BebasNeue.otf);}
@font-face { font-family: ubuntu; src: url(fonts/ubuntu.ttf);}
@font-face { font-family: marketing; src: url(fonts/MarketingScript.ttf);}
@font-face { font-family: megalopolis; src: url(fonts/MEgalopolisExtra.woff);}


/***** general stuff *****/

body { font-family: ubuntu; }

#plzwait { display: none; }
body.loading #plzwait {display: inline;}
body.loading #wall {opacity: 0;}

h1, h2, h3, h4 { font-family: bebas; }
* {padding: 0px; margin: 0px;}
body { background-color: #343838; }
html { box-shadow: inset 0px 0px 20px black; }

#wall { background-color: #E1E6E9; width: 900px; padding: 20px; margin: auto; margin-top: 10px; box-shadow: 0px 0px 5px black;}

#wall > h1 {font-size: 90px; width: 500px; vertical-align: middle; font-weight: normal; text-align: center; margin: auto; margin-top: 30px; text-align: center;}

#shortcredit a { color: #555; }
#shortcredit { opacity: 0.5; top: -150px; right: 0px; font-size: 10px; color: #777; position: relative; width: 100%; text-align: right; }
#shortcredit:hover {opacity: 1;}

#longcredits a { color: black; }
#longcredits {
    color: #555;
}

/***** tag board *****/

#overview { margin: 5px; position: relative; background-color: #343838; box-shadow: inset 0px 0px 20px black; height: 320px; border-radius: 10px; margin-left: -5px; margin-right: -5px; }

.tag.c0{color: #005f6b;}
.tag.c0:hover {color: #00a2b7;}
.tag.c1{color: #008c9e;}
.tag.c1:hover {color: #00cfea;}
.tag.c2{color: #00dffc;}
.tag.c2:hover {color: #00e1ff;}
.tag.c3{color: #00b4cc;}
.tag.c3:hover {color: #00e1ff;}
.tag { margin-top: 10px; margin-left: 15px; font-family: bebas; position: absolute; text-decoration: none; }

/**********************/

/* Title */
#wall > section > h1 { font-size: 100px; line-height: 100px; color: #2EC4DD; font-weight: normal; border-top: 2px solid black; padding-top: 20px; }
#wall > section:nth-of-type(2) > h1 { margin-top: 40px; border-top: none; }
#wall > section > article > h1:after { content: "▾"; margin-left: 25px; font-size: 50px; vertical-align: middle; -moz-transition-duration: 1s; -moz-transform: rotate(0deg); }
#wall > section > article > h1 { font-size: 80px; height: 80px; font-weight: normal; background-image: url(imgs/dashed.png); background-repeat: repeat-x; background-position: left bottom; cursor: pointer; padding-bottom: 10px; -moz-transition: text-indent 0.1s; }
#wall > section > article > h1:hover { text-indent: 5px; }
#wall > section > article > article > h1 { font-size: 32px; line-height: 32px; letter-spacing: 0px; vertical-align: bottom; font-weight: normal; position: absolute; bottom: 200px; }



#wall > section > article { border-top: 10px solid #28C2DA; }
#wall > section > article { line-height: 0px; }
#wall > section > article * { line-height: normal; }
#wall > section > article > article {-moz-transition: height 1s 0s; font-size: 12px; border-top: 0px solid #777; border-bottom: 1px solid #777; width: 225px; display: inline-block; margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px; margin-left: 6px; margin-right: 6px; height: 250px; vertical-align: middle; position: relative; padding-left: 30px; padding-right: 30px; }

#wall > section > article.closed > h1:after { -moz-transform: rotate(-90deg); }

#wall > section > article.closed > article { height: 0px; border: none; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }

#wall > section > article.pre-closed > article { overflow: hidden;}

#wall > section > article > article > p { line-height: 16px; margin-top: 65px; text-align: justify; position: relative;}

#wall > section > article > article {z-index: 3999;}
#wall > section > article > article > * {z-index: 40001;}

#wall > section > article > article:before {
    content: "";
    width: 265px;
    height: 380px;
    background-color: white;
    position: absolute;
    top: 0; left: 0; 
    z-index: 43;
    opacity: 0;
    pointer-events: none;
    -moz-transition: opacity 0.2s 0.2s;
    border: 10px solid black;
}

#wall > section > article > .large:before {
    width: 500px;
}
#wall > section > article > .large .demo {
    left: 393px;
    top: 100px;
}


#wall > section > article > article:nth-of-type(3n).large:before {
    right: 0px;
    left: auto;
}

#wall > section > article > article:nth-of-type(3n).large .demo{
    left: -107px;
}

/*
@media all and (max-width: 900px) {
    #wall > section > article > article:nth-of-type(2n).large:before {
        right: 0px;
        left: auto;
    }
}
*/


#wall > section > article > article:hover:before {
    opacity: 1;
    pointer-events: auto;
}

article .demo {
    position: absolute;
    bottom: -50px;
    left: 50%;
    pointer-events: none;
    -moz-transition: opacity 0.4s 0s;
    opacity: 0;
}

#wall > section > article > article:hover >  .demo {
    opacity: 1;
    pointer-events: auto;
    -moz-transition: opacity 0.4s 0.5s;
}


#wall > section > article > article > a {
    width: 265px;
    margin-left: -20px;
    position: absolute;
    bottom: -130px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    background-image: url(https://developer.mozilla.org/forums/styles/MDN/theme/images/mdn-logo-tiny.png);
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    -moz-transition: opacity 0.2s 0.2s;
    opacity: 0;
    pointer-events: none;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
#wall > section > article > .large > a {
    width: 500px;
}

#wall > section > article > article:nth-of-type(3n).large > a{
    left: -205px;
}


#wall > section > article > article:hover > a {
    opacity: 1;
    pointer-events: auto;
}


#wall > section > article > article > .demo > * {
    display: block;
}

#wall > section > article > .experimental > h1:before {
    vertical-align: bottom;
    content: url(imgs/phial.svg);
    position: absolute;
    top: 4px; left: -25px;
}






@media all and (max-width: 900px) { #wall { width: 600px; } #overview {display: none;}}
@media all and (max-width: 600px) { #wall { width: 300px; } #wall > section > h1 { font-size: 70px; } }
